---
import { Image } from '@astrojs/image/components'
import BaseHead from '../components/BaseHead.astro'
import HeroImagesParallax from '../components/HeroImagesParallax.vue'
import Nav from '../components/Nav.astro'
import Portfolio from '../components/Portfolio.astro'
import Skills from '../components/Skills.astro'
import ThemeToggle from '../components/ThemeToggle.vue'
import { MAIN_PAGE_TITLE, SITE_DESCRIPTION } from '../config'
---

<!DOCTYPE html>
<html lang="en" class="dark">
	<head>
		<BaseHead title={MAIN_PAGE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-white dark:bg-dark">
		<header class="mt-6">
			<Nav />
		</header>

		<div
			class="min-h-screen container flex items-center flex-col justify-center lg:flex-row lg:justify-between px-8 relative"
		>
			<h1
				class="text-3xl sm:text-5xl sm:leading-snug text-primary-darker dark:text-primary -mt-12"
			>
				Hi, I’m Vlad Gafarov <br /> Frontend developer
			</h1>
			<div class="lg:-mt-12">
				<Image
					src="/js-logo.png"
					alt="valdgafarov"
					width={245}
					aspectRatio="1:1"
					format={'webp'}
				/>
			</div>
			<HeroImagesParallax client:load />
		</div>

		<Skills />
		<Portfolio />

		<ThemeToggle client:load />
	</body>
</html>
