---
import BaseHead from '../components/BaseHead.astro'
import ThemeToggle from '../components/ThemeToggle.vue'
import { SITE_DESCRIPTION, SITE_TITLE } from '../config'
import { Image } from '@astrojs/image/components'

const { pathname } = Astro.url
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-white dark:bg-dark">
		<ThemeToggle client:only />

		<header>
			<nav class="dark:text-white text-black flex justify-center gap-16">
				<a href="/" class:list={[{ ['text-primary']: pathname === '/' }]}
					>Home</a
				>

				<a href="/blog" class:list={[{ active: pathname === '/blog' }]}
					>Blog</a
				>
			</nav>
		</header>

		<Image
			src="/js-logo.png"
			alt="valdgafarov"
			width={245}
			aspectRatio="1:1"
			format={'webp'}
		/>
	</body>
</html>
