---
import BaseHead from '../components/BaseHead.astro'
import ThemeToggle from '../components/ThemeToggle.vue'
import { SITE_DESCRIPTION, SITE_TITLE } from '../config'
import { Image } from '@astrojs/image/components'
import Nav from '../components/Nav.astro'

const { pathname } = Astro.url
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-white dark:bg-dark">
		<ThemeToggle client:only />

		<header>
			<Nav />
		</header>

		<Image
			src="/js-logo.png"
			alt="valdgafarov"
			width={245}
			aspectRatio="1:1"
			format={'webp'}
		/>
	</body>
</html>
