---
const { pathname } = Astro.url;

const urls = [
   { url: "", name: "Home" },
   { url: "blog", name: "Blog" },
];
---

<nav
   class="dark:text-white font-medium text-black flex justify-center gap-16 text-xl"
>
   {
      urls.map(({ url, name }) => (
         <a
            href={`/${url}`}
            class:list={[
               {
                  ["text-secondary dark:text-primary"]:
                     pathname.split("/")[1] === url,
               },
            ]}
         >
            {name}
         </a>
      ))
   }
</nav>
