---
import SectionTitle from "./SectionTitle.astro";
---

<section class="container mt-16">
   <SectionTitle>Social</SectionTitle>

   <div class="py-6 flex flex-col items-start gap-2">
      <a
         href="https://github.com/vladgafarov"
         class="hover:underline text-black dark:text-white text-[22px]"
         target="_blank"
      >
         Github</a
      >
      <a
         href="mailto:vlad.gafarov02@gmail.com"
         class="hover:underline text-black dark:text-white text-[22px]"
      >
         Email: vlad.gafarov02@gmail.com</a
      >
      <a
         href="https://t.me/vladgafarov"
         class="hover:underline text-black dark:text-white text-[22px]"
         target="_blank"
      >
         Telegram: @vladgafarov</a
      >
   </div>
</section>
